body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1, h2, h3 {
    color: #333;
    margin: 0;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: #3E4095;
    border-bottom: 2px solid #3E4095;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section p {
    margin: 0;
}

.container {
    display: flex;
}

.left-column, .right-column {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    page-break-inside: avoid;
}

.left-column {
    background-color: #3E4095;
    color: #FFF;
}

.right-column {
    background-color: #FFF;
}

.contact-section, .education-section, .skills-section, .experience-section, .summary-section, .link-section {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.name {
    text-decoration: underline;
    display: block;
    font-size: 28px;
    margin: 10px 40px 10px 0;
}

.devops-label {
    font-size: 14px;
    color: #555;
    margin-top: 0;
}

.professional-profile {
    font-size: 14px;
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    width: 50px; /* Adjusted image size */
    height: auto; /* Maintain aspect ratio */
}

@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #333;
        background-color: #FFF; /* Adjusted background color for better visibility in print */
    }

    @page {
        size: A4;
        margin: 10mm;
    }

    body {
        font-size: 12px;
        color: #333;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .left-column, .right-column {
        width: 50%;
        box-sizing: border-box;
        page-break-inside: avoid;
    }

    .section {
        page-break-inside: avoid;
    }

    h2 {
        color: #3E4095;
        border-bottom: 2px solid #3E4095;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    a {
        color: #007BFF;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .name {
        text-decoration: underline;
        display: block;
        font-size: 28px;
        margin: 10px 40px 10px 0;
    }

    .devops-label {
        font-size: 14px;
        color: #555;
        margin-top: 0;
    }

    .professional-profile {
        font-size: 14px;
        font-style: italic;
        color: #555;
        margin-bottom: 10px;
    }

    .header-content img {
        width: 80px; /* Adjusted image size for print view */
        border-radius: 50%;
    }
    .left-column {
        color: #333; /* Adjusted text color for better visibility */
    }
}
